.App {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
/* media query of mobile  */
@media only screen and (max-width: 768px) {
  /* header component  */
  .headerspan1 {
    display: none;
  }
  /* hero component */
  .HeroComponent img {
    display: none;
  }
  /* main compoent  */
  .FormMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 82%;
  }

  .submit {
    margin: 0.7rem;
    padding: 1rem;
    padding-left: 30%;
    padding-right: 30%;
    display: flex;
    justify-content: center;
  }
.MainCard{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.card { 
  display: flex;
text-align: center;
align-items: center;
justify-content: center;
flex-wrap: wrap;
flex-direction: column;
margin: 2rem;
}

  /* footer component */
  .headerFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .headerFooter button {
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .FooterStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
